* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v291_113 {
  width: 100%;
  height: 1981px;
  background: rgba(255,255,255,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: visible;
}
.v305_122 {
  position: absolute;
width: 1728px;
height: 490px;
left: 0px;
top: 562px;
background: rgba(180, 243, 0, 0.1);}
  button{
position: absolute;
width: 289px;
height: 113px;
top: 80px;
position: absolute;
width: 238px;
height: 64px;
left: 26px;
top: 25px;
font-family: 'Kadwa';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 64px;
color: #A444AB;
}
.v305_123 {
position: absolute;
width: 1728px;
height: 490px;
left: 0px;
top: 1127px;
background:rgba(180, 243, 0, 0.1);;
}
button{
  position: absolute;
  width: 289px;
  height: 113px;
  margin-bottom: auto;
  position: absolute;
  width: 238px;
  height: 64px;
  left:auto  
  font-family: 'Kadwa';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 64px;
  color: #A444AB;
  }
.v293_232 {
  width: 100%;
  height: 141px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1663px;
  left: 24px;
  border: 1px solid rgba(202,40,167,0.23999999463558197);
  overflow: hidden;
}
.v291_115 {
  width: 48px;
  height: 67px;
  background: url("../images/v291_115.png");
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 381px;
  transform: rotate(-39deg);
}
.v291_116 {
  width: 351px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 683px;
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v291_119 {
  width: 100%;
  height: 92px;
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 24px;
  border: 1px solid rgba(188,255,0,1);
  overflow: hidden;
  outline:2px solid rgba(188,255,0,1);
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
ul{list-style-type: none;
display: flex;
align-items:center;}
li{margin: 20px;}
.v291_120 {
  width: 685px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 681px;
  left: 302px;
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v291_121 {
  width: 264px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 617px;
  left: 303px;
  font-family: Kadwa;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v291_122 {
  width: 403px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1204px;
  left: 567px;
  font-family: Kadwa;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v291_123 {
  width: 625px;
  height: 524px;
  background: url("../images/v291_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 549px;
  left: 837px;
  overflow: hidden;
}
.v291_124 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 150px;
  left: 740px;
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v293_225 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1691px;
  left: 125px;
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v293_228 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1691px;
  left: 245px;
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v293_229 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1718px;
  left: 245px;
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v293_231 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1860px;
  left: 396px;
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v293_226 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1718px;
  left: 125px;
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v293_227 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1739px;
  left: 125px;
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v291_125 {
  width: 834px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1269px;
  left: 567px;
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v291_141 {
  width: 211px;
  height: 448px;
  background: url("../images/v291_141.png");
  background-repeat: no-repeat;
  background-position:left left;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1161px;
  left: 295px;
  overflow: hidden;
}
.v292_164 {
  width: 309px;
  height: 133px;
  background: url("../images/v292_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1392px;
  left: 567px;
  overflow: hidden;
}
.name {
  color: #fff;
}
